section.careers-info.section--pb
	.container 
		.row 
			.careers-info__col
				h1.preloader.preloader--v.careers-info__title Təcrübəli peşəkarlar 
				p.preloader.preloader--v.careers-info__text Bizim məqsədlərimizdən biri pərakəndə satış sahədə lider olmaq və işgüzar fəaliyyətimizi genişləndirmək və yerli əməkdaşların sayını artırmaqdır. Buna nail olmaq üçün biz Azərbaycanın daxilində yüksək səviyyəlı mütəxəssisləri cəlb etməkdir. 
				br 
				h2.preloader.preloader--v.careers-info__sub-title Kim ərizə verə bilər?
				p.preloader.preloader--v.careers-info__text Son iki illərin və cari ilin məzunları “Məzunların işə qəbul proqramı”-na müraciət edə bilərlər.
				p.preloader.preloader--v.careers-info__text Qeyd: Bu proqramda yalnız Azərbaycan Respublikasının vətəndaşları iştirak edə bilərlər.
				br 
				h2.preloader.preloader--v.careers-info__sub-title Necə ərizə verilməli?
				p.preloader.preloader--v.careers-info__text Bravo Azərbaycan yaxın gələcəkdə məzunların işə qəbul proqramına ərizə qəbulu başlayacaq.
				br 
				br 
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green Müraciət
				br
				p.preloader.preloader--v.careers-info__text
					| Ərizələrin qəbulu və seçim prosesi haqqında ətraflı məlumatı yaxın gələcəkdə əldə edə bilərsiniz. Hər hansı əlavə məlumat üçün 
					a.preloader.preloader--v.careers-info__link(href="#") hr@azerbaijansupermarket.com 
					| elektron poçt vasitəsi ilə müraciət edə bilərsiniz.
				h2.preloader.preloader--v.careers-info__sub-title.careers-info__sub-title--green Vakansiyalar
				br
				p.preloader.preloader--v.careers-info__text
					| Ərizələrin qəbulu və seçim prosesi haqqında ətraflı məlumatı yaxın gələcəkdə əldə edə bilərsiniz. Hər hansı əlavə məlumat üçün 
					a.preloader.preloader--v.careers-info__link(href="#") hr@azerbaijansupermarket.com 
					| elektron poçt vasitəsi ilə müraciət edə bilərsiniz.

			