.select2-results__option[aria-selected=true] {
    background-color: #607d8b;
}

input.error::placeholder{
    color:#f44336;
}

.sweet-alert button.cancel {
    background-color: #37474F !important;
    color: #FFF !important;
}

div#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000a8;
    display: flex;
    transition: 550ms;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 999999;
}

.more-data{
    display: none;
}

.show-more{
    cursor: pointer;
    transition: 330ms;
}
.show-less{
    cursor: pointer;
    transition: 330ms;
}
.show-more:hover,.show-less:hover{
    background: #04899a !important;
}

td[data-group] {
    background: #eaeaea;
    color: #555;
}

label{
    cursor: pointer;
}

#iframe-layer,#modal-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0000009e;
    display: flex;
    opacity: 0;
    z-index: 0;
    transition: opacity 220ms;
    overflow: auto;
    padding: 0;
}

#iframe-layer.show,#modal-layer.show {
    opacity: 1;
    z-index: 1050;
}


#iframe,#modal {
    height: fit-content;
    background: white;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    width: calc(20vw + 20vh + 20% + 100px);
    margin: 0px auto;
}

#iframe-close,#modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 25px;
    color: #585858;
    z-index: 1;
    cursor: pointer;
    transition: 220ms;
    height: 65px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#modal-close{
    height: 50px;
    width: 60px;
}

#iframe-close:hover,#modal-close:hover {
    color:#000000;
    transform: scale(1.2) rotate(90deg);
}

#modal-title {
    border-bottom: 1px solid #dddddd;
    background: #fafafa;
    display: none;
    padding: 15px 15px 10px;
}

#iframe-content,#modal-content {
    position: relative;
    padding-top: 5px;
    background: #fafafa;
}

#modal-content {
    padding: 0;
}
#modal-buttons {
    padding: 10px;
    border-top: 1px solid #dfdfdf;
    width: 100%;
    text-align: right;
    background: #fafafa;
    display: none;
}

#modal-additional-buttons {
    float: left;
    position: relative;
}

#modal-additional-buttons button {
    cursor: pointer;
    margin-bottom: 4px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 35px;
}

.editor-group {
    display: inline-block;
    height: 35px;
    border-right: 1px solid #bdbdbd;
    padding-right: 5px;
    margin-right: 2px;
}

.editor-mode.active{
    background: #2b3235;
}

.pull-right{
    float: right;
}

.pull-left{
    float: right;
}

#infos .row {
    border-bottom: 1px solid #ebebeb;
    margin: 10px 0;
}
#infos .row:last-child {
    border-bottom: 0;
}

.table-slate, .table-slate>td, .table-slate>th {
    background-color: #8fa4af75;
}

.card-shadow{
    box-shadow: 1px 1px 7px 0px #555;
}

.special-header{
    text-transform: uppercase;
    font-weight: bold;
}

.image-area {
    text-align: center;
}

.image-area img {
    width: 60%;
    margin: auto;
}

.float-group{
    position: relative;
}

.float-text {
    position: absolute;
    color: #999999;
    transition: 220ms;
    cursor: text;
    z-index: 0;
    pointer-events: none;
    transform: translate(15px,-34.5px);
}


.float-group input{
    transition:220ms;
}

.float-group input:focus {
    border: 1px solid #2a3140 !important;
}

.float-group input:valid + .float-text, .float-group input:focus+.float-text {
    transition: 220ms;
    background: #fff;
    padding: 0 5px;
    transform: translate(15px, -51px);
    font-size: 11px;
    color: #2a3140;
}


.float-text span {
    position: relative;
    top: 7.5px;
}

.border-bottom-special {
    border-bottom-color: #40485a;
}

.bg-special{
    background: #40485a;
    color:#fff;
}
.text-special{
    color: #40485a;
}

.btn-special{
    background: #5b677d;
    color:#fff;
    transition: 220ms;
}

.btn-special:hover{
    background: #40485a;
}


.media-area {
    padding: 10px 10px 10px 5px;
}
.media-area:empty:before{
    content: attr(data-placeholder);
    margin-left: 5px;
}
.media-area .image {
    width: 150px;
    height: 150px;
    border: 1px solid #dedede;
    position: relative;
    margin: 30px 5px;
    box-shadow: 1px 1px 6px -3px #a0a0a0;
}
.media .image:hover {
    box-shadow: 1px 1px 6px -1.5px #a0a0a0;
}
.media-area .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.deleteMedia{
    background: #d90404;
    top: 0;
    right: 0;
}
.editMedia{
    background: #607d8b;
    bottom: 0;
    right: 0;
}
.showMedia{
    background: #607d8b;
    bottom: 0;
    left: 0;
}
.textMedia{
    background: #607d8b;
    top: 0;
    left: 0;
}
.media-area .image .action {
    position: absolute;
    cursor: pointer;
    opacity: .5;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transition: 220ms;
    font-size: 20px;
    z-index: 2;
}

.media-area .image:hover .action{
    opacity: .7;
}

.media-area .image .action:hover{
    opacity: .9;
}

.caption-area {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: -30px;
    top: 100%;
    left: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #333;
    padding: 5px 10px;
    text-align: center;
    cursor: text;
    overflow: hidden;
}
.caption-area:hover {
    background: #333333;
    z-index: 3;
    word-break: break-word;
    height: fit-content;
    min-height: 30px;
}
.caption-area:empty:before {
    content: attr(data-placeholder);
    color: #797979;
}

empty{
    display: block;
    margin-left: 5px;
}

.title-icon{
    font-size: 13px;
    color: #607d8b;
    margin-right: 5px;
}

.sweet-alert button {
    cursor: pointer;
}

.gu-transit {
    opacity: .5;
    outline: 1px dashed #2a3140;
}
.gu-mirror{
    background: #e4f2fe;
}

.media-area iframe{
    width: 100%;
    height: 100%;
    border:0;
}

.tab-page {
    margin: 32px 0;
    box-shadow: 1px 1px 6px -3px #717171;
}

.tabs-area .nav-tabs {
    margin-bottom: 0;
    position: relative;
}

.tabs-area .tab-content{
    border-left: 1px solid #dddddd;
    padding-top: 1.25rem;
}

.deleteTab {
    position: absolute;
    right: 3px;
    top: 3px;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
    top: 0;
    bottom: 0;
    margin: auto;
    height: 18px;
}

.filter-option-inner-inner img:not(:first-child) {
    margin-left: 15px;
}

@media (max-width: 405px) {
    .ColVis, .DTTT_container, .dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate {
        float: left !important;
        text-align: center;
    }
}

@media (min-width: 405px) and (max-width: 767px){
    .ColVis, .DTTT_container, .dataTables_filter, .dataTables_info, .dataTables_length, .dataTables_paginate {
        float: left !important;
        text-align: center;
        margin: 0.75rem 1.25rem 1.25rem 0;
    }
}



/* Media editor */
@media (max-width: 714px) {
    .editor-group{
        display: block;
        text-align: left;
        border: 0;
        margin-bottom: 3px;
    }
}
