@keyframes ripple {
    0% {
        top: 96px;
        left: 96px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 18px;
        left: 18px;
        width: 156px;
        height: 156px;
        opacity: 0;
    }
}

.ripple div {
    position: absolute;
    border-width: 5px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ripple 1s cubic-bezier(0,0.2,0.8,1) infinite;
}

.ripple div:nth-child(1) {
    border-color: #ffffff
}

.ripple div:nth-child(2) {
    border-color: #a6cbe6;
    animation-delay: -0.5s;
}


.loading-spinner-ripple {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
}
.ripple {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.75);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ripple div { box-sizing: content-box; }

