section.about 
		.container 
			.row 
				aside.about-aside
					nav.about-aside__nav 
						ul.about-aside__menu
							li.about-aside__items.preloader.preloader--v
								span.about-aside__link.simple-tab__link--active(data-simple-tab-nav="about-tab-1") General
							li.about-aside__items.preloader.preloader--v
								span.about-aside__link.simple-aside__link--active(data-simple-tab-nav="about-tab-2") Our Quality Standards
				article.about-post
					.about-post__col.preloader.preloader--v.simple-tab__content--active(data-simple-tab-content="about-tab-1") 
						h2 Hədəf
						h6 Hədəfimiz nədir?
						p Bizim ambisiyamız Azərbaycanda ərzaq məhsullarının pərakəndə satışı üzrə həmişə milli dəyərlərə bağlı olan və ölkəyə qürur verən ən etibarlı brend olmaqdır.
						br
						br
						h2 Məqsəd
						h6 Biz hədəfimizə necə nail olmağı planlaşdırırıq?
						p Müştərilərimizi ərzaq, qeyri-ərzaq məhsulları barədə məlumatlandırmaq və beynəlxalq standartlar səviyyəsində fəaliyyət göstərməklə yanaşı, bizim məqsədimiz yüksək keyfiyyətli innovativ məhsullar təklif etmək, həmçinin müştərilərimizi ruhlandırmaq, müsbət mənada təəccübləndirmək və həmişə orta gəlirli ailələr üçün münasib qiymətlər təqdim etməkdir.
						br
						br
						h2 Dəyərlər
						h6 Bizim məramımız nədir və biz necə davranırıq?
						span Dəyərlərimiz inkişafa nail olmaqda bizə kömək edir. Bizim altı 
						a(href="#") əsas dəyərimiz var:  
						br
						br
						img.post-img.blazy.blazy--style(src="./images/main/empty_img.png" data-src="./images/main/about/about_post.png", alt="bravo market logo")
						br
						br
						br
						br
					
					.about-post__col.preloader.preloader--v(data-simple-tab-content="about-tab-2") 
						h2 Komfortlu alış-veriş üçün hər şərait
						ul
							li İnnovativ mağaza dizaynı 
							li Sıralar arasında genişlik
							li Problemsiz alış-veriş üçün müasir və geniş kassalar 
						br 
						br 	
						h2 Mağaza standardlarında mükəmməlllik
						ul
							li Daim yenilənən zəngin çeşid
							li Qida təhlükəsizliyinə və gigiyenaya zəmanət
							li Aydın promo və qiymət siyasəti
						br 
						br 	
						h2 Qüsursuz xidmət
						ul
							li Mükəmməl xidmət üçün təlimli və təcrübəli işçi heyəti
							li Həmişə canla-başla xidmət
						br 
						br 	

					
