doctype html
html

	head
		meta(charset="utf-8")
		title Bravo Market
		meta(content="" name="webskyus")
		meta(content="" name="this is description")
		meta(content="" name="website, landing")
		meta(content="width=device-width, initial-scale=1" name="viewport")
		meta(content="ie=edge" http-equiv="x-ua-compatible")
		link(rel="icon", href="./images/main/favicon/favicon.ico")    
		link(rel="apple-touch-icon", href="./images/main/favicon/apple-icon-180x180.png")    
		link(rel='stylesheet' href='style/main.min.css')

	body
		.body-wrapper.body-wrapper--sticky
			block content



		script(src='js/main.min.js' defer)
