extends _template.pug
block content 
	include header/_header_careers
	// main 
	main.main
		- var breadcrumbs = 'Careers'
		//- - var thumbTitle = 'About Us'
		section.breadcrumbs 
			.container 
				.row 
					.breadcrumbs_col 
						.breadcrumbs__nav 
							a.breadcrumbs__item.preloader-overlay.preloader-overlay--vertical(href="#") 
								+icon('home', 'breadcrumbs__icon')
							span.breadcrumbs__item.breadcrumbs__item--inactive.preloader-overlay.preloader-overlay--vertical 
								+icon('arrow', 'breadcrumbs__icon breadcrumbs__icon--arrow')
								= breadcrumbs		
		section.inner-top-thumb.inner-top-thumb--white-bg.section--pb-inner
			.container.container--full 
				.row 
					.container-inner 
						.inner-top-thumb__box.preloader.preloader--v(style="background: url(./images/main/careers/1.jpg) no-repeat center/cover")
							//- h1.inner-top-thumb__title 
							//- 	= thumbTitle
		include careers/_careers
	include footer/_footer